/*  your css code here. If applicable */
#outer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(255, 165, 0);
    display: flex;
    justify-content: center;
    align-items: center;
	border:25px solid rgb(255, 0, 0);
}

#middle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:rgb(0, 128, 0);
    display: flex;
    justify-content: center;
    align-items: center;
	border:25px solid rgb(255, 255, 0);
	margin:25px;
}

#inner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgb(128, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
	margin:25px;
	border:25px solid rgb(0, 0, 255);
}

#small {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#smaller {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0000ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#innermost {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items: center;
}
